# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 관련 파일 및 디렉토리 제외
.vs/
*.user
*.suo
*.vcxproj.user
*.opendb
*.tlog/
ipch/
*.db
*.opendb
*.obj
*.pch
*.idb
*.pdb
*.log
*.sdf
*.ilk
*.aps
*.ncb
*.scc
*.pgc
*.pgd
*.rsp
*.tgz
*.trace
*.hmap
*.htm
*.html
*.js
*.xml
*.json
